<head>

	<title>Table</title>

	<!-- <link rel="stylesheet" type="text/css" href="table.css"> -->
    <link rel="stylesheet">

</head>
<body>

    <table>
    
        <tr>
    
            <th>S.No</th>
    
            <th>Employee </th>
    
            <th>Add Salary</th>
    
            <th>Add Project</th>
    
            <th>Salary Details</th>

            <th>Project Report</th>

            <th>Leave Report</th>

            <th>Graph</th>

    
        </tr>
        <tr>

            <td>01</td>
    
            <td>SOHITH D RAM</td>
    
            <td>60000</td>
    
            <td>HRMS PORTAL</td>
    
            <td>Pending</td>

            <td>Pending</td>

            <td>Pending</td>

             <td>Pending</td>
    
        </tr>
    
        <tr>
    
            <td>02</td>
    
            <td>MANOJ KUMAR NAIK</td>
    
            <td>55000</td>
    
            <td>HRMS PORTAL</td>
    
            <td>Pending</td>

            <td>Pending</td>

            <td>Pending</td>

             <td>Pending</td>
    
        </tr>
    
        <tr>
    
            
            <td>03</td>
    
            <td>MANOJ GOWDA</td>
    
            <td>55000</td>
    
            <td>HRMS PORTAL</td>
    
            <td>Pending</td>

            <td>Pending</td>

            <td>Pending</td>

             <td>Pending</td>
    
        </tr>
    
        <tr>
    
            <td>04</td>
    
            <td>DILEEP KUMAR</td>
    
            <td>55000</td>
    
            <td>SPRING SECURITY</td>
    
            <td>Pending</td>

            <td>Pending</td>

            <td>Pending</td>

             <td>Pending</td>
    
        </tr>
    
        <tr>
          
            <td>05</td>
    
            <td>SACHIN</td>
    
            <td>60000</td>
    
            <td>SAP ARIBA</td>
    
            <td>Pending</td>

            <td>Pending</td>

            <td>Pending</td>

             <td>Pending</td>
    
        </tr>
    
        <tr>
            
            <td>06</td>
    
            <td>SURYA</td>
    
            <td>52000</td>
    
            <td>PYTHON</td>
    
            <td>Pending</td>

            <td>Pending</td>

            <td>Pending</td>

             <td>Pending</td>
    
        </tr>
    
    </table>
    
    </body>
