<head>
    <title>Project Details Form</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  </head>
  <body>
    <div class="container">
      <h2>Project Details Form</h2>
      <form id="projectForm">
        <label for="projectName">Project Name:</label>
        <input type="text" id="projectName" required>
        
        <label for="clientName">Client Name:</label>
        <input type="text" id="clientName" required>
        
        <label for="projectType">Project Type:</label>
        <input type="text" id="projectType" required>
        
        <label for="developingPlatform">Developing Platform:</label>
        <input type="text" id="developingPlatform" required>
        
        <label for="databaseTech">Database Technology:</label>
        <input type="text" id="databaseTech" required>
        
        <label for="description">Description:</label>
        <textarea id="description" required></textarea>
        
        <label for="addedTime">Added Time:</label>
        <input type="text" id="addedTime" required>

      
        <!-- <button type="submit">Submit</button> -->
       
      </form>
    </div>
  
  
  </body>
