<head>

	<title>Table</title>

	<!-- <link rel="stylesheet" type="text/css" href="table.css"> -->
    <link rel="stylesheet">

</head>
<body>

    <table>
    
        <tr>
    
            <th>S.No</th>
    
            <th>Employee ID</th>
    
            <th>Employee Name</th>
    
            <th>DOB</th>
    
            <th>Gender</th>

            <th>Address</th>

            <th>Status</th>

            <th>Approve / Delete</th>

    
        </tr>
        <tr>

            <td>01</td>
    
            <td>DEX123</td>
    
            <td>SOHITH D RAM</td>
    
            <td>2/9/97</td>
    
            <td>Male</td>

            <td>Tumkur</td>

            <td>Pending</td>

            <td>Pending</td>
    
        </tr>
    
        <tr>
    
            <td>02</td>
    
            <td>DEX456</td>
    
            <td>MANOJ KUMAR </td>
    
            <td>28/9/95</td>
    
            <td>Male</td>

            <td>Sirsi</td>

            <td>Pending</td>

            <td>Pending</td>
    
        </tr>
    
        <tr>
    
            
            <td>03</td>
    
            <td>DEX789</td>
    
            <td>MANOJ GOWDA</td>
    
            <td>5/6/98</td>
    
            <td>Male</td>

            <td>Mandya</td>

            <td>Pending</td>

            <td>Pending</td>
        </tr>
    
        <tr>
    
          
            <td>04</td>
    
            <td>DEX753</td>
    
            <td>DILEEP KUMAR</td>
    
            <td>6/8/95</td>
    
            <td>Male</td>

            <td>Bengaluru</td>

            <td>Pending</td>

            <td>Pending</td>
    
        </tr>
    
        <tr>
          
            <td>05</td>
    
            <td>DEX252</td>
    
            <td>SACHIN</td>
    
            <td>4/6/97</td>
    
            <td>Male</td>

            <td>RaneBennur</td>

            <td>Pending</td>

            <td>Pending</td>
    
        </tr>
    
        <tr>
            
            <td>06</td>
    
            <td>DEX565</td>
    
            <td>SURYA</td>
    
            <td>7/5/97</td>
    
            <td>Male</td>

            <td>Bengaluru</td>

            <td>Pending</td>

            <td>Pending</td>
    
        </tr>
    
    </table>
    
    </body>
